langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain_groq
arxiv
wikipedia
duckduckgo-search
ipykernel
validators
youtube_transcript_api
pytube
unstructured


